@use '../utils' as *;

$sidebar-width: 280px;
$sidebar-fold-width: 70px;
$primary-color: var(--primary);

.app-header {
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;

    @media #{$xs},
    #{$xxs} {
        gap: 12px;
        min-height: 65px;
    }

    .left-content {
        @include flexbox();
        align-items: center;
        gap: 1rem;
    }

    .right-menu {
        @include flexbox();
        align-items: center;
        gap: 1rem;

        ul {
            @include flexbox();
            gap: 12px;
            align-items: center;

            li {
                list-style: none;
            }
        }
    }
}

.main-body {
    display: flex;
    min-height: 100vh;
    padding-top: 70px;

    .sidebar-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebar-width;
        height: 100vh;
        border-right: 1px solid rgba(215, 215, 215, 1);
        transition: transform 0.3s ease-in-out;
        z-index: 10;

        &.sidebar-fold {
            width: $sidebar-fold-width;
        }
    }

    .main-content {
        margin-left: $sidebar-width;
        flex-grow: 1;
        padding: 20px;
        min-height: calc(100vh - 70px);
        transition: margin-left 0.3s ease-in-out;

        .sidebar-wrapper.sidebar-fold+& {
            margin-left: $sidebar-fold-width;
        }
    }
}