@use "../utils" as *;

/*----------------------------------------*/
/*  Background Css
/*----------------------------------------*/

.white-bg {
  background-color: var(--white);
}
.black-bg {
  background-color: var(--black);
}

// Theme bg
.theme-bg {
  background-color: var(--primary);
}
.laundry-white-bg {
  background-color: var(--laundry-white);
}