@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 Badge
/*----------------------------------------*/

// Badge
.app-badge {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	display: inline-block;
	line-height: 1;
	text-align: center;
	position: relative;
	background-color: var(--white);
	padding: 5px 12px;
	color: var(--success);
	border-radius: 8px;
	border: 1px solid var(--border-color);

	&.success {
		background-color: rgba(240, 253, 244, 1);
		color: var(--success);
	}

	&.warning {
		color: rgba(255, 165, 0, 1);
		background: rgba(255, 165, 0, 0.1);
	}

	&.danger {
		color: rgba(255, 0, 0, 1);
		background: rgba(255, 0, 0, 0.1);
	}

	&.black {
		color: var(--black);
		background-color: rgba($black, $alpha: 0.2);
	}

	&.purple {
		background: rgba($purple, $alpha: 0.1);
		border-radius: 10px;
		color: var(--purple);
	}
}