@use '../utils' as *;

/*----------------------------------------*/
/*  forms scss
/*----------------------------------------*/

// single input style
.app-single-input {
	&.has-right-icon {
		.box-input {
			padding-inline-end: 45px;
		}
		.input-icon {
			position: absolute;
			inset-inline-end: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 20px;
			&.eyeicon {
				cursor: pointer;
			}
		}
	}
	.input-field {
		position: relative;
		&.disabled {
			input,
			textarea {
				color: rgba($color: $white, $alpha: .5);
				cursor: not-allowed;
				&:focus {
					border-color: rgba($white, $alpha: .08);
				}
			}
		}
		.text-content {
			background: var(--white);
			box-shadow: 0px 4px 10px rgba(0, 101, 255, 0.04);
			border-radius: 5px;
			position: absolute;
			top: 50%;
			inset-inline-end: 5px;
			transform: translateY(-50%);
			padding: 5px 8px 6px;
			font-size: 14px;
			font-weight: 500;
			color: var(--primary);
		}
		input,
		textarea {
			font-weight: 500;
		}
		textarea {
			padding: 12px 15px;
			height: 150px;
			resize: none;
			&:focus {
				border-color: var(--primary);
			}
		}
	}
	.input-description {
		font-size: 12px;
		margin-top: 7px;
	}
	.input-label {
		font-size: 14px;
		margin-bottom: 7px;
		font-weight: 600;
		color: var(--white);
		span {
			padding-inline-start: 4px;
			display: flex;
			align-items: center;
			gap: 6px
		}
	}
	.input-label-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > p {
			font-size: 12px;
		}
	}
	.input-field {
		&.input-group {
			flex-wrap: nowrap;
		}
		.input-group-text {
			color: var(--white);
			background: rgba($color: $white, $alpha: .08);
			mix-blend-mode: normal;
			border: 1px solid rgba($color: $white, $alpha: .08);
			@include border-radius(12px);
		}
	}
	.input-select {
		.nice-select {
			height: 44px;
			width: 100%;
			padding: 0 15px;
			@include flexbox();
			align-items: center;
			float: none;
			border: 1px solid rgba($white, $alpha: .08);
			@include border-radius(12px);
			background-color: rgba($color: $white, $alpha: .08);
			.current {
				text-align: left;
				font-size: 14px;
				position: relative;
				color: var(--white);
			}
			.list {
				@include transform(scale(1) translateY(0));
				width: 100%;
				padding: 10px 0;
				@include border-radius(6px);
				background: #242424;
				border-radius: 12px;
				border-style: solid;
				border-color: rgba(255, 255, 255, 0.08);
				border-width: 1px;
				padding: 12px 12px 12px 12px;
				max-height: 300px;
				overflow-y: scroll;
				-ms-overflow-style: none;
				/* IE and Edge */
				scrollbar-width: none;
				/* Firefox */
			}
			&::after {
				font-size: 16px;
				inset-inline-end: 16px;
				width: 8px;
				height: 8px;
				border-bottom: 1.5px solid var(--text-primary);
				border-inline-end: 1.5px solid var(--text-primary);
				font-size: 16px;
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				border: 5px solid;
				border-top-color: rgba(0, 0, 0, 0);
				border-left-color: rgba(0, 0, 0, 0);
				background-color: rgba(0, 0, 0, 0);
				transition: all ease-in-out 0.2s;
				margin-top: -2px;
				@include border-radius(2px);
			}
			.option {
				font-size: 14px;
				line-height: 38px;
				min-height: 38px;
				color: var(--white);
				border-radius: 10px;
				padding: 0 10px;
				&.selected {
					font-weight: 500;
				}
				&:hover {
					background-color: #353535;
				}
				&.selected.focus {
					background-color: #353535;
				}
			}
			&.open,
			&:focus {
				background-color: #353535;
			}
		}
	}
	&.input-fill {
		input {
			background: #EFF5FF;
			border: 1px solid rgba(0, 101, 255, 0.18);
			border-radius: 8px;
			height: 46px;
			font-size: 14px;
			@include app-placeholder {
				font-size: 14px
			}
		}
	}

	&.fill-white {
		.input-field {
			input {
				background: var(--white);
				box-shadow: 0px 4px 10px rgba(0, 101, 255, 0.04);
				border: 0;
				font-size: 14px;
				height: 46px;
				border-radius: 5px;
				@include app-placeholder {
					font-size: 14px;
				}
			}
		}
	}

	&.has-right-content {
		position: relative;
		.input-badge {
		  background: #FFFFFF;
		  border-radius: 6px;
		  padding: 6px 10px;
		  position: absolute;
		  inset-inline-end: 6px;
		  top: 37px;
		  font-size: 14px;
		  font-weight: 600;
		  color: var(--secondary);
		}
	  }
}
// feedback-invalid
.feedback-invalid {
    font-size: 12px;
    margin-top: 3px;
    color: #DC1D4B;
    display: none;
}
.input-attention {
    font-size: 12px;
	color: var(--danger);
	&.xs {
		font-size: 10px;
	}
}

.input-label {
	font-size: 14px;
	margin-bottom: 5px;
}