@use '../utils' as *;

/*----------------------------------------
 Pagination
-----------------------------------------*/

.pagination-area {
	margin-top: 15px;
	padding: 0 15px;

	.pagination {
		@include flexbox();
		align-items: center;
		justify-content: space-between;

		.data-range {
			font-size: 14px;
		}

		.pagination-list {
			@include flexbox();
			align-items: center;
			gap: 5px;

			@media #{$xs,$sm,$md} {
				justify-content: start;
			}

			.page-item {
				list-style: none;

				a {
					width: 40px;
					height: 40px;
					@include inline-flex();
					align-items: center;
					justify-content: center;
					position: relative;
					inset-inline-end: 0;
					top: 50%;
					font-weight: 500;
					font-size: 14px;
					@include border-radius(12px);
					background: var(--white);
					border: 1px solid #F1F1F1;

					&:hover {
						background-color: var(--primary);
						color: var(--white);
						border-color: var(--primary);
					}

					svg {
						width: 14px;
						height: 15px;
					}

					&.active {
						background-color: var(--primary);
						color: var(--white);
					}
				}
			}
		}
	}
}