@use '../utils' as *;

/*----------------------------------------*/
/*  Shortcodes
/*----------------------------------------*/
.text-body {
    color: var(--text-primary) !important;
}
.text-white {
	color: var(--white);
}
.text-black {
	color: var(--black);
}
.text-primary {
	color: var(--primary);
}
.text-secondary {
	color: var(--secondary);
}
.text-quaternary {
	color: var(--secondary);
}
.text-gradient-1 {
	background: linear-gradient(135deg, rgba(253, 216, 25,0.5) 0%, rgba(248, 23, 23,0.5) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

// Border radius
.radius-4 {
	@include border-radius(4px);
}
.radius-6 {
	@include border-radius(6px);
}
.radius-8 {
	@include border-radius(8px);
}
.radius-10 {
	@include border-radius(10px);
}
.radius-12 {
	@include border-radius(12px);
}
.radius-14 {
	@include border-radius(14px);
}
.radius-16 {
	@include border-radius(16px);
}
.radius-18 {
	@include border-radius(18px);
}
.radius-20 {
	@include border-radius(20px);
}
.radius-30 {
	@include border-radius(30px);
}
.radius-40 {
	@include border-radius(40px);
}
.radius-45 {
	@include border-radius(45px);
}
.radius-50 {
	@include border-radius(50px);
}
.radius-60 {
	@include border-radius(60px);
}

// Font Family 
.title-font {
	font-family: var(--ff-title);
}
// font weight
.fw-3 {
	font-weight: var(--fw-light);
}
.fw-4 {
	font-weight: var(--fw-regular);
}
.fw-5 {
	font-weight: var(--fw-medium);
}
.fw-6 {
	font-weight: var(--fw-sbold);
}
.fw-7 {
	font-weight: var(--fw-bold);
}
.fw-8 {
	font-weight: var(--fw-ebold);
}
.fw-9 {
	font-weight: var(--fw-black);
}

// font size
.fs-3 {
	font-size: 3px;
}
.fs-4 {
	font-size: 4px;
}
.fs-5 {
	font-size: 5px;
}
.fs-6 {
	font-size: 6px;
}
.fs-7 {
	font-size: 7px;
}
.fs-8 {
	font-size: 8px;
}
.fs-9 {
	font-size: 9px;
}
.fs-10 {
	font-size: 10px;
}
.fs-11 {
	font-size: 11px;
}
.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}

// gap 
.gap--5{
	gap: 5px;
}
.gap-10 {
	gap: 10px;
}
.gap-15 {
	gap: 15px;
}
.gap-20 {
	gap: 20px;
}
.gap-24 {
	gap: 24px;
}
.hide {
	opacity: 0;
	transition: opacity 0.5s ease-out;
  }
  